#photo-home-wrapper {
  overflow: hidden;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 0.9s forwards;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}
#photo-home-text-background {
  position: fixed;
  transform: rotate(50deg);
  background-color: rgb(90, 168, 170);
  width: 30rem;
  height: 100rem;
  margin-top: 10px;
  overflow: hidden;
  z-index: -1;
  box-shadow: rgb(0, 0, 0) 10px 5px 50px 20px;
}

#photo-home-content {
  width: 100%;
  padding: 20px;
  overflow: hidden;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
#photo-home-header h1 {
  font-size: 45px;
  margin: 0;
  margin-top: 50px;
}

#photo-home-wrapper article {
  position: relative;
  width: 100%;
  line-height: 2em;
}

#photo-home-wrapper a {
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (min-width: 700px) {
  #photo-home-wrapper {
    width: 100%;
    height: 750px;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: inherit;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
  }
  #photo-home-text-background {
    position: fixed;
    transform: rotate(20deg);
    box-shadow: rgb(0, 0, 0) 10px 10px 20px 20px;
    width: 100rem;
    height: 130rem;
    z-index: -1;
    float: left;
    margin-top: 50px;
    overflow: hidden;
    margin-left: 0px;
    overflow: visible;
  }

  #photo-home-content {
    width: 40%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 5rem;
    margin-right: 5em;
    color: white;
    overflow: visible;
  }
  #photo-home-header h1 {
    font-size: 50px;
  }

  #photo-home-wrapper article {
    position: relative;
    width: 100%;
    line-height: 2em;
    font-size: 18px;
  }

  #photo-home-wrapper a {
    text-decoration: none;
    font-size: 18px;
  }
}
