#home {
  width: 100%;
  height: 550px;
  text-align: right;
  background-color: slategray;
  overflow: hidden;
}
.color-box {
  display: block;
  width: 100%;
  height: 500px;
  background-color: rgb(10, 24, 33);
  margin-top: 20%;
  margin-left: 10%;
  transform: rotate(-45deg);
  box-shadow: rgb(0, 0, 0) -15px -10px 50px 20px;
}
#home-about-link {
  color: white;
  border-radius: 25px;
  background-image: linear-gradient(
    to bottom,
    rgba(4, 0, 255, 0.5),
    rgb(80, 80, 80)
  );
  width: 180px;
  height: 40px;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  text-shadow: black 2px 2px;
  margin-top: 150px;
  opacity: 0;
  animation: fadeIn 1s 1s forwards;
}
#home header {
  margin-top: 25%;
  color: white;
}
#home-hello {
  font-size: 40px;
  margin: 0;
  transform: rotate(25deg);
  transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  animation: flyFromRight 3s forwards;
}
#waving-hand-emoji {
  display: inline-block;
  animation: waving 3s 2s ease-in-out;
}
#home-tag {
  font-size: 18px;
  font-style: italic;
  margin: 0;
  margin-bottom: 20px;
  width: 100%;
  text-align: right;
  opacity: 0;
  animation: fadeIn 2s 1s forwards;
}
#a-in-tag {
  text-align-last: right;
  margin-right: 10px;
}
#adjective-in-tag {
  display: inline-block;
  width: auto;
  text-align: center;
  margin-right: 5px;
  animation: fallIn 4s 6s ease-in-out infinite;
}

@media only screen and (min-width: 700px) {
  #home {
    display: block;
    height: auto;
    margin-top: -50px;
  }
  .color-box {
    margin-top: 0px;
    margin-left: -8%;
    padding: 275px;
    background-color: rgb(10, 24, 33);
    transform: rotate(45deg);
    box-shadow: rgb(0, 0, 0) -15px -10px 50px 20px;
  }
  #home-about-link {
    color: white;
    border-radius: 25px;
    background-image: linear-gradient(
      to bottom,
      rgba(4, 0, 255, 0.5),
      rgb(80, 80, 80)
    );
    width: 180px;
    height: 40px;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    margin-top: 150px;
    opacity: 0;
    animation: fadeIn 1s 2s ease-in-out forwards;
  }
  #home header {
    margin-top: 13rem;
    margin-right: 10rem;
  }
  #home-hello {
    font-size: 40px;
    margin: 0;
  }
  #waving-hand-emoji {
    display: inline-block;
    animation: waving 3s 2.5s;
  }
  #home-tag {
    font-size: 25px;
    font-style: italic;
    margin: 0;
    margin-bottom: 20px;
  }
  #a-in-tag {
    text-align-last: right;
    margin-right: 10px;
  }
  #adjective-in-tag {
    display: inline-block;
    width: auto;
    text-align: center;
    margin-right: 5px;
    animation: fallIn 4s 6s ease-in-out infinite;
  }
}
