#about-text {
  width: 85%;
  margin-top: 0px;
  text-align: left;
  line-height: 2em;
  font-size: 18px;
  color: black;
}

#about-text p a {
  text-decoration: none;
  color: grey;
}
#about-langs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}
#about-langs h3 {
  margin: 0;
  margin-bottom: 10px;
}
#about-langs-items {
  width: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-left: auto;
  margin-right: auto;
}

#about-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
#about-links aside {
  display: flex;
}
#about-links h3 {
  margin: 0px;
}

#about-links img {
  width: 100px;
  margin: 10px;
}
@media only screen and (min-width: 700px) {
  #about-text {
    width: 90%;
    text-align: center;
    line-height: 2em;
    font-size: 20px;
  }

  #about-langs-items {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}
