#about-text {
  width: 85%;
  text-align: justify;
  line-height: 2em;
  font-size: 20px;
}
.about-text-highlight {
  display: inline-block;
  color: white;
  padding: 8px;
  border-radius: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#about-langs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}
#about-langs h3 {
  margin: 0;
  margin-bottom: 10px;
}
#about-langs-items {
  display: inline-block;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  text-align: center;
  margin-top: 10px;
}
#about-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
#about-links h3 {
  margin: 0px;
}
.about-lang-item {
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 50px;
  background-image: linear-gradient(
    to bottom,
    rgba(40, 255, 234, 0.878),
    rgb(80, 80, 80)
  );
}
#about-links img {
  width: 50px;
  margin: 10px;
}
@media only screen and (min-width: 700px) {
  #about-text {
    width: 70%;
    text-align: center;
    line-height: 2em;
    font-size: 20px;
  }
  .about-text-highlight {
    display: inline-block;

    color: white;
    padding: 8px;
    border-radius: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #about-langs-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
