.App {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}
.section-wrapper {
  width: 100%;
  height: auto;
  margin-top: 50px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1s ease-in-out;
  overflow: hidden;
}
.project-title {
  font-size: 25px;
}
.project-wrapper {
  width: 90%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  top: 0;
}
.project-text {
  width: 100%;
  color: black;
}

.project-technologies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.technology-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-bottom: 5px;
}
.technology-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.technologies-logo {
  width: 45px;
}
.technology-wrapper p {
  padding: 0;
  margin: 0;
  margin-left: 10px;
}
.git-hub-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.git-hub-icon {
  width: 25%;
  margin-bottom: 10px;
}
.git-hub-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  margin-bottom: 10px;
}
.git-hub-links a {
  text-decoration: none;
  font-size: 25px;
  color: slategray;
  padding: 10px;
}
.project-link {
  width: 50%;
  height: auto;
  border-radius: 25px;
  background-color: black;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  margin-bottom: 100px;
}
.project-link p {
  padding: 0px;
}
.project-link:hover {
  color: black;
  background-color: lightgrey;
}
@media only screen and (min-width: 700px) {
  .section-wrapper {
    margin-top: 20px;
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1s ease-in-out;
  }
  .project-title {
    font-size: 25px;
  }
  .project-wrapper {
    width: 90%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .project-info {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .project-text {
    width: 100%;
    color: black;
  }
  .project-technologies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .technology-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 10px;
  }
  .technology-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  .technologies-logo {
    width: 45px;
  }
  .technology-wrapper p {
    padding: 0;
    margin: 0;
    margin-left: 10px;
  }
  .git-hub-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .git-hub-icon {
    width: 15%;
    margin-bottom: 10px;
  }
  .git-hub-links {
    width: 60%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
  }
  .git-hub-links a {
    text-decoration: none;
  }
  .project-link {
    width: 50%;
    font-size: 18px;
    padding: 0px;
  }
  .project-link p {
    padding: 0px;
  }
  .project-link:hover {
    color: black;
    background-color: lightgrey;
  }
}
