#screenshot-photo-gram-desktop {
  display: block;
  background-image: url("./photo-gram-image.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 320px;
  position: relative;
  margin-top: 10px;
  bottom: 0;
}
#screenshot-photo-gram-mobile {
  background-image: url("./iphone.jpg");
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 320px;
  position: relative;
  margin-top: 10px;
  bottom: 0;
}

.demo-select {
  cursor: pointer;
  border: 1px solid black;
  width: 30%;
  padding: 5px;
  text-align: center;
}
.fadeIn {
  opacity: 0;
  animation: fadeIn 1s 1s ease-in-out forwards;
}
@media only screen and (min-width: 700px) {
  #screenshot-photo-gram-desktop {
    background-image: url("./photo-gram-image.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 1000px;
    height: auto;
    position: relative;
    bottom: 0;
  }
  #screenshot-photo-gram-mobile {
    background-image: url("./iphone.jpg");
    background-size: 37%;
    background-position: center;
    background-repeat: no-repeat;
    width: 1000px;
    height: auto;
    position: relative;

    bottom: 0;
  }

  .demo-select {
    cursor: pointer;
    border: 1px solid black;
    width: 30%;
    overflow: auto;
    margin: 0;
    padding: 5px;
    text-align: center;
  }
  .fadeIn {
    opacity: 0;
    animation: fadeIn 1s 1s ease-in-out forwards;
  }
}
