#desktop-nav-projects-link {
  display: none;
}
#desktop-nav-projects {
  display: none;
}
#mobile-nav-bottom {
  display: block;
  width: 100%;
  height: auto;
  font-size: 20px;
  position: fixed;
  bottom: 0;
  color: black;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 10px;
}
#mobile-nav-bottom li a {
  display: flex;
  flex-direction: column;
}
nav {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 10;
  animation: fadeIn 2s ease-in-out;
  background-color: white;
  top: 0;
  margin: 0;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin: 15px;
  padding: 0;
}
nav ul li a {
  cursor: pointer;
  text-decoration: none;
  color: grey;
  font-size: 18px;
  display: flex;
  align-items: center;
}
nav ul li a:hover {
  color: black;
}
nav ul li img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
#nav-home,
#nav-project-1 {
  opacity: 0;
  animation: navLoad 1s 1s ease-in-out forwards;
}
#nav-about,
#nav-project-2 {
  opacity: 0;
  animation: navLoad 1s 1.3s ease-in-out forwards;
}
#nav-contact,
#nav-project-3 {
  opacity: 0;
  animation: navLoad 1s 1.7s ease-in-out forwards;
}
#toggle-swicth-containter {
  position: relative;
  margin-top: 15px;
  margin-right: 20px;

  float: right;
  opacity: 0;
  animation: fadeIn 1s 3s ease-in-out forwards;
}
#dev-switch {
  width: 45px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
#photo-switch {
  width: 45px;
  height: 21px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.dev-photo-switch-icon {
  font-size: 15px;
  margin: 5px;
}
#dev-toggle {
  width: 17px;
  height: 17px;
  border-radius: 100%;
  margin-top: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  border: 1px solid black;
  background-color: slategrey;
  animation: slideLeft 1s forwards;
}
#photo-toggle {
  width: 17px;
  height: 17px;
  border-radius: 100%;
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  border: 1px solid black;
  background-color: slategrey;
  float: right;
  animation: slideRight 1s forwards;
}

@media only screen and (min-width: 700px) {
  #mobile-nav-bottom {
    display: none;
  }
  #desktop-nav-projects-link {
    display: block;
  }
  #desktop-nav-projects {
    width: 35%;
    display: block;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    margin: 0;
    padding: 0;
    animation: fadeIn 1s ease-in-out;
  }
  #desktop-nav-projects li {
    cursor: pointer;
    font-size: 15px;
  }
  #desktop-nav-projects li a {
    font-size: 15px;
  }
  nav {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 10;
    animation: fadeIn 2s ease-in-out;
  }
  nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin: 0;
  }
  nav ul li {
    cursor: pointer;
    color: grey;
    padding: 15px;
  }
  nav ul li a {
    text-decoration: none;
    font-size: 15px;
    display: flex;
    align-items: center;
  }
  nav ul li:hover {
    color: black;
  }
  nav ul li img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  #desktop-nav-projects-link {
    opacity: 0;
    animation: navLoad 1s 0.7s ease-in-out forwards;
  }
}
