#home-gallery {
  width: 100%;
  height: auto;
  margin-top: 0rem;
  padding-bottom: 2rem;
}
#home-gallery img {
  width: 100%;
  animation: fadeInOut 9s 4.5s ease-in-out infinite;
}
@media only screen and (min-width: 700px) {
  #home-gallery {
    width: 100%;
    overflow: visible;
    animation: fadeInOut 9s 4.5s ease-in-out infinite;
  }
  #home-gallery img {
    width: 70%;
    height: auto;
  }
}
