#home-gallery {
  width: 80%;
  height: 500px;
  margin-top: 1rem;
  padding-bottom: 2rem;
}
#home-gallery img {
  width: 100%;
  animation: fadeInOut 9s 4.5s ease-in-out infinite;
}
@media only screen and (min-width: 700px) {
  #home-gallery {
    width: 100%;
    height: 900px;
    padding-bottom: 50px;
    margin-top: 6rem;
    margin-right: 100px;
    justify-content: space-between;
    align-items: center;
  }
  #home-gallery img {
    width: 70%;
    animation: fadeInOut 9s 4.5s ease-in-out infinite;
  }
}
